{
  "extends": "airbnb",
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/jsx-props-no-spreading": 0,
    "react/require-default-props": 0
  },
  "globals": {
    "clearInterval": false,
    "console": false,
    "expect": false,
    "setInterval": false,
    "test": false,
    "window": false,
    "Image": false,
    "Promise": false
  },
  "settings": {
    "react": {
      "version": "16.9.0"
    }
  },
  "parser": "babel-eslint"
}