{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "globals": {
    "clearInterval": false,
    "console": false,
    "expect": false,
    "setInterval": false,
    "test": false,
    "window": false,
    "Image": false,
    "Promise": false
  },
  "settings": {
    "react": {
      "version": "latest"
    }
  },
  "parser": "babel-eslint"
}